body{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    background: url('images/bg.webp');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    position: fixed;
    top:0;
    width: 100%;
    background: #000;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}
header li{
    width:10%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;;
}
header li:hover{
    background:#12b3ab;
}
header a:hover{
    color:#000;
}
header nav a{
    text-decoration: none;
    color:#12b3ab;
    font-weight: 100;
}
/*Home Section*/
#home{
    margin-top: 50px;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    background: linear-gradient( #1aeebce5,#2be0b6d3, #00c597c5, #12b3ab, #0da9d9d5, #009dffc7 );
}
.profile-img{
    width: 30%;
    border-radius: 35%;
    overflow: hidden;
    margin-right: 20px;
}
.profile-img img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.profile-info{
    width: 45%;
    margin:10px;
}

/*About section*/
#about{
    padding: 50px;
}

/*Projects section*/
#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    height: 80vh;
}

.out-el{
    background: linear-gradient(#009dffc7,#1aeebce5,#2be0b6d3, #00c597c5,#009dffaf, #000000de);
    padding:5px;
}
/*Contact section*/
#Contact{
    margin:20px;
}
.social-icons{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 25px;;
}
.social-icons a{
    margin: 5px;
}
form{
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 40%;
    padding: 10px;
}
input{
    height: 25px;
    margin-bottom: 10px;
}
textarea{
    height: 100px;
}

/*Footer*/
footer{
    background: #000;
    color:#009eff;
    padding:5px;
    margin-bottom: 0;
}